
<header class="container-fluid mb-5 row nb-bg">
     <div class="titulo-pagina mb-3" routerLinkActive="active">
               <a class="pt-2 text-uppercase text-hover text-white" [routerLink]="['home']">Indie-signs</a> 
     </div>
     <div class="container-fluid">
               <nav class="barra-nav text-center nav-div" routerLinkActive="active">
                    <a [routerLink]="['albumes']" class="text-light text-hover">Reseñas</a>
                    <a [routerLink]="" class="text-light text-hover">Eventos </a>
                    <a [routerLink]="['playlists']" class="text-light text-hover">Playlists</a>
                    <a [routerLink]="" class="text-light text-hover">Contacto</a>
               </nav>
     </div>
</header>    


