<footer class="container-fluid mt-5 foot-bg">
          
     <div class="container-fluid text-center">
          
               <nav class="barra-nav d-inline nav-share-contenedor">
                         <ul class="list-unstyled text-center text-md-right text-lg-right text-xl-right">
                           <li><a [routerLink]="['albumes']" class="text-light text-hover">Reseñas</a></li>
                           <li><a [routerLink]="['conciertos']" class="text-light text-hover">Eventos </a></li>
                           <li><a [routerLink]="['playlists']" class="text-light text-hover">Playlists</a></li>
                           <li><a [routerLink]="['contacto']" class="text-light text-hover">Contacto</a></li>      
                         </ul>
               </nav>     
     </div>
     <div class="fb-share-button d-flex justify-content-center justify-content-lg-start justify-content-md-start mb-3" data-href="http://127.0.0.1:5500/index.html" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5500%2Findex.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore ">Compartir</a></div>

        
     <p class="copyright text-center">Todos los Derechos Reservados 2020 &copy;</p>
     
    

    
</footer>
