<div class="row">
     <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 justify-content-md-center">
          <img [src]="album.img" class="img-album mb-3" alt="...">
     </div>
     <div class="col-lg-4 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center text-xs-center mt-3 mb-3 review">
          <h3 class="card-title font-weight-bold">{{album.artista}}</h3>
          <h4 class="card-title">{{album.album}}</h4>
          <h4 class="card-title">{{album.label}}</h4>
          <h4 class="card-title">{{album.year}}</h4>     
     </div>

     <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center text-xs-center review">{{album.review}}</p>
          
</div>



    

