/*Carrusel*/
/* .carousel-inner .img-height-limit{
     max-height: 600px!important;
}

.btn.btn-outline-success.btn-center{
     display: block;
     max-width: 100px;
} 

.carousel-inner{
     width: 120%;
}

*/